@import url(http://fonts.googleapis.com/css?family=Qwigley);

$avatar-container-height: 150px;
$avatar-height: $avatar-container-height * 2/3;

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.hero {
  height: 300px;
  height: 50vh;
  background-image: url(hero.jpg);
  background-position: 50% 100%;
  background-size: cover;
}

$avatar-top: -$avatar-container-height / 2;

.avatar {
  height: $avatar-container-height;
  width: $avatar-container-height;
  border: 3px solid #fbb4ae;
  border-radius: 50%;
  position: relative;
  top: $avatar-top;
  background-color: #fff;
  margin: 0 auto;

  img {
      height: $avatar-height;
      width: $avatar-height;
      margin-top: ($avatar-container-height - $avatar-height) / 2;
  }
}

.main {
  position: relative;
  top: $avatar-top + 25px;
}

.name {
  font-family: 'Qwigley', cursive;
  font-size: 48px;
  color: #888;
}

.icons {
  margin-top: 10px;
}

a {
  display: inline-block;
  color: #bbb;
  text-decoration: none;
  margin-right: 5px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #bbb;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    color: #888;
    border-color: #888;
  }
}
